<!DOCTYPE html>
<html lang="es">
  <%- include head %>
  <body>
    <div class="container-fluid">
      <div id="chats">
        <div class="container-fluid">
          <div class="card">
            <div class="card-header text-white bg-primary">Registrate</div>
            <div class="card-body">
              <%if (error) { %>
              <div class="alert alert-danger"><%= error %></div>
              <% }; %>
              <form
                class="form-horizontal"
                method="POST"
                action="/registro"
                enctype="multipart/form-data"
                onsubmit="process(event)"
              >
                <div class="form-group row">
                  <label class="col-1" for="nombre">Nombre</label>
                  <input
                    placeholder="Ingresar nombre"
                    class="form-control col-6"
                    type="text"
                    name="nombre"
                    required
                  />
                </div>
                <div class="form-group row">
                  <label class="col-1" for="nombre">Email</label>
                  <input
                    placeholder="Ingresar email: miemail@dominio.com"
                    class="form-control col-6"
                    type="email"
                    name="username"
                    required
                  />
                  <%if (false) { %>
                  <div class="alert alert-danger"></div>
                  <% }; %>
                </div>

                <div class="form-group row">
                  <label class="col-1" for="nombre">Contraseña</label>
                  <input
                    placeholder="Ingresar su contraseña"
                    class="form-control col-6"
                    type="password"
                    name="password"
                    required
                  />
                </div>
                <div class="form-group row" style="display: inline-block">
                  <input
                    class="btn btn-success"
                    type="submit"
                    name="enviar"
                    value="Registrate!"
                  />
                  <a class="btn btn-primary" href="/login"
                    >Ya estoy registrado</a
                  >
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
